*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.box{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 auto;
}

.box form{
    width: 40%;
}
.box form input, .box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}
.box form input[type="text"], 
.box form textarea,
.box form select{
    width: 100%;
    margin-bottom: 10px;
}
.box form select{
    width: 100px;
    padding: 5px;
}
.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 5px;
    background: #2ba977;
    border: 1px solid #444;
    color: white;
    transition: 300ms all;
 
}
.rojo{
    color: red;
    box-shadow: 0px 0px 4px black;

}

.message{
    padding: 20px;
    background: #1f7e58;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
    cursor: pointer;
    background: #1f7e58;
}    


.box p, .box h2, .box h3, .box ul{
    margin-bottom: 5px;
    margin-top: 5px;
}
.box ul, .box ol{
    margin-left: 20px;
    margin-bottom: 10px;
}
body{
    background-color: #f2f2f2;
}
 
/* Estilos Cabecera */
header{
    width: 90%;
    height: 60px;
    background-color: #fff;
    float: right;
}
 
#logotipo {
    width: 55%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10px;
}
 
#img{
    position: relative;
    display: inline-block;
    
    width: 10%;
    right: 150px;
    border-radius: 5px;
    z-index: 100;
    right: 153px;
    bottom: 135px;
}
img{
    
    width: 150px; 
    left: 5px; 
}
 
#logotipo h1{
    position: absolute;
    left: 600px;
    color: rgb(161, 154, 154);
}

/*Estilos Navegación*/
 
/*Zona de menu*/
nav{
    position: absolute;
    width: 10%;
    height: 600px;
    margin: 0;
    background-color: rgb(9, 16, 117);
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
    top :180px
}
/*Zona de enlaces*/
nav ul{
    list-style: none;
    text-decoration: none;
}
nav ul li{
    line-height: 30px;
    box-shadow: 0 0 10px #1a1c1d;

}
/*Hipervinculos*/
nav ul li a{
    display: inline-block;
    padding-left: 15px;
    padding-right: 10px;
    color: #1a1c1d;
    background-color: white;
    margin: 5px auto;
    width: 110px;
    border: 1px #1a1c1d;
    
}

/*Efecto en Hipervínculos*/
nav ul li a:hover{
    background: #d3b04e;
    box-shadow: 0px 0px 0px #444 inset;
    color:white;
    transition: all 300ms;
}
/*Estilos para el CONTENIDO*/
#content{
    width: 90%;
    height: 600px;
    float: right;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 auto;
}

.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 4px;
    margin-top: 5px;
}

/*Estilo para el footer*/

li{
    text-decoration: none;
    list-style: none;
}